# Default file: /etc/inputrc

# Be 8 bit clean.
set meta-flag On
set input-meta On
set output-meta On
set convert-meta Off

# Make autocompletion case insensitive and display suggestions
set completion-ignore-case On
set show-all-if-ambiguous On

# Add 'sudo' at the beginning of the line
"\es": "\C-asudo \C-e"
